.App {
  display: flex;
  flex-direction: column;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  min-height: 100vh;
  min-width: 90vh;
}

.main-btn {
  margin: 2rem 2rem 2rem 6rem;
  display: flex;
  width: 600px;
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 17px 120px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.main-btn:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.3);
  padding: 17px 200px;
}

.sec-btn {
  justify-content: space-around;
  display: flex;
  padding: 2rem 1rem 2rem 1rem;
  border: 0.5px solid rgb(165, 107, 101);
  border-radius: 1rem;
  margin: 1rem;
}

.animated-btn {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.animated-btn:focus {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-15deg);
}

.thrd-btn {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.thrd-animated-btn {
  align-content: flex-start;
  background-color: #c2f1fb;
  border-radius: 15px;
  color: rgb(0, 109, 128);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 750ms;
  border: 0;
  width: 200px;
  height: 50px;
  font-size: 14px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.thrd-animated-btn:focus {
  height: 100px;
  background-color: #5cd9f5;
  overflow-y: scroll;
  scroll-behavior: smooth;
  color: rgb(0, 109, 128);
}

.body {
  display:flex;
}

.main-content {
  display: flex;
  flex: 1;
  gap: 1rem;
  flex-direction: column;
  padding: 1rem 1rem 1rem 0.5rem;
  margin: 0.5rem 1rem 1rem 1rem;
  border: 1px solid salmon;
  border-radius: 1rem;
  color: wheat;
  font-size: 14px;
  overflow: auto;
}

h2 {
  color: #5cd9f5;
}

::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.sidebar {
}

pre {
  font-family: monospace;
  white-space-collapse: preserve;
  text-wrap: wrap;
  margin: 1em 0px;
}

.code-block {
  display: flex;
  justify-content: flex-start;
  margin: 0rem 1rem 0rem 1rem;
  width: 95%;
  border-bottom: 1px solid rgb(191, 233, 237);
}
