.App {
  display: flex;
  flex-direction: column;
  background: radial-gradient(ellipse at bottom, #32465c 0%, #090a0f 100%);
  min-height: 100vh;
  min-width: 90vh;
}

.main-btn {
  margin: 2rem 2rem 2rem 6rem;
  display: flex;
  width: 600px;
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 17px 120px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.main-btn:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.3);
  padding: 17px 200px;
}

.sec-btn {
  justify-content: space-around;
  display: flex;
  padding: 2rem 1rem 2rem 1rem;
  border: 0.5px solid rgb(165, 107, 101);
  border-radius: 1rem;
  margin: 1rem;
}

.animated-btn {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.animated-btn:focus {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-15deg);
}

.thrd-btn {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.thrd-animated-btn {
  align-content: flex-start;
  background-color: #c2f1fb;
  border-radius: 15px;
  color: rgb(0, 109, 128);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 750ms;
  border: 0;
  width: 200px;
  height: 50px;
  font-size: 14px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.thrd-animated-btn:focus {
  height: 100px;
  background-color: #5cd9f5;
  overflow-y: scroll;
  scroll-behavior: smooth;
  color: rgb(0, 109, 128);
}

.body {
  display: flex;
}

.main-content {
  display: flex;
  flex: 1;
  gap: 1rem;
  height: 600px;
  flex-direction: column;
  padding: 1rem 1rem 1rem 0.5rem;
  margin: 0.5rem 1rem 1rem 1rem;
  border: 1px solid salmon;
  border-radius: 1rem;
  color: wheat;
  font-size: 14px;
  overflow: auto;
}

h2 {
  color: #5cd9f5;
}

::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.sidebar {
  background-color: none;
  /* if needed edit here for sidebar button contents */
}

pre {
  font-family: monospace;
  /*
white-space-collapse: preserve;
text-wrap: wrap;
  */
  margin: 1em 0px;
}

.code-block {
  display: flex;
  justify-content: flex-start;
  margin: 0rem 1rem 0rem 1rem;
  width: 95%;
  color: rgb(185, 228, 231);

  border-bottom: 1px solid rgb(129, 159, 161);
  font-size: 12px;
}

.fourth-btn {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  display: flex;
  background-color: #97b7c1;
  border-radius: 10px;
  color: rgb(45, 75, 97);
  cursor: pointer;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 7vw;
  text-align: center;
  text-decoration: none;
  transition: all 1000ms;
  border: 0;
  font-size: 14px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  flex-wrap: nowrap;
}

.fourth-btn:focus {
  box-shadow: rgba(44, 180, 187, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 170, 187, 0.25) 0 1px 2px, rgba(44, 182, 187, 0.25) 0 2px 4px,
    rgba(44, 151, 187, 0.25) 0 4px 8px, rgba(44, 175, 187, 0.25) 0 8px 16px,
    rgba(182, 230, 239, 0.25) 0 16px 32px;
  padding: 7px 20vw;
}

/* BACKGROUN ANIMATION */
.main-area {
  overflow: hidden;
}

.circles {
  top: 0;
  left: 0;
}

@keyframes animate {
  0% {
    opacity: 0.5;
    border-radius: 70%;
    transform: translateY(-100vw) rotate(720deg);
  }

  100% {
    opacity: 0;
    border-radius: 0;
    transform: translateY(0vw) rotate(0deg);
  }
}

.circles div {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  bottom: 10px;
  animation: animate 2s linear infinite;
}

.circles div:nth-child(1) {
  left: 5%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  animation-duration: 12s;
}

.circles div:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-duration: 22s;
}

.circles div:nth-child(3) {
  left: 20%;
  width: 20px;
  height: 20px;
  animation-duration: 9s;

}

.circles div:nth-child(4) {
  left: 35%;
  width: 60px;
  height: 60px;
  animation-duration: 17s;
}

.circles div:nth-child(5) {
  left: 45%;
  width: 20px;
  height: 20px;
  animation-duration: 32s;
}

.circles div:nth-child(6) {
  left: 65%;
  width: 110px;
  height: 110px;
animation-duration: 8s;
}

.circles div:nth-child(7) {
  left: 55%;
  width: 150px;
  height: 150px;
  animation-duration: 40s;
}

.circles div:nth-child(8) {
  left: 70%;
  width: 25px;
  height: 25px;
  animation-duration: 25s;
}

.circles div:nth-child(9) {
  left: 90%;
  width: 15px;
  height: 15px;
  animation-duration: 35s;
}

.circles div:nth-child(10) {
  left: 90%;
  width: 150px;
  height: 150px;
  animation-duration: 9s;
}
/* BACKGROUN ANIMATION */
